* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  padding-left: 25px;
}

button, input[type="text"] {
  padding: 5px;
}

textarea {
  padding:5px;
  margin: 12px;
  width: 400px;
  height: 30px;
  font-size: 15px;
}

button:hover {
  cursor: pointer;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.error-message {
    color: red;
}

.hidden {
  display: none;
}

/* mobile first using flex */
.group {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}


/* media queries for desktop */
@media all and (min-width: 600px) {
  .group {
    flex-direction: row;
  }

   header {
    display: flex;
    justify-content: space-between;
  }
}
